$trace3d_licorice: #000000;
$trace3d_lead: #1e1e1e;
$trace3d_tungsten: #3a3a3a;
$trace3d_iron: #545453;
$trace3d_steel: #6e6e6e;
$trace3d_tin: #878687;
$trace3d_nickel: #888787;
$trace3d_aluminum: #a09fa0;
$trace3d_magnesium: #b8b8b8;
$trace3d_silver: #d0d0d0;
$trace3d_mercury: #e8e8e8;
$trace3d_snow: #ffffff;
//
$trace3d_cayenne: #891100;
$trace3d_mocha: #894800;
$trace3d_aspargus: #888501;
$trace3d_fern: #458401;
$trace3d_clover: #028401;
$trace3d_moss: #018448;
$trace3d_teal: #008688;
$trace3d_ocean: #004a88;
$trace3d_midnight: #001888;
$trace3d_eggplant: #491a88;
$trace3d_plum: #891e88;
$trace3d_maroon: #891648;
//
$trace3d_maraschino: #ff2101;
$trace3d_tangerine: #ff8802;
$trace3d_lemon: #fffa03;
$trace3d_lime: #83f902;
$trace3d_spring: #05f802;
$trace3d_seam_foam: #03f987;
$trace3d_turquoise: #00fdff;
$trace3d_aqua: #008cff;
$trace3d_blueberry: #002eff;
$trace3d_grape: #8931ff;
$trace3d_magenta: #ff39ff;
$trace3d_strawberry: #ff2987;
//
$trace3d_salmon: #ff726e;
$trace3d_cantaloupe: #ffce6e;
$trace3d_banana: #fffb6d;
$trace3d_honeydew: #cefa6e;
$trace3d_flora: #68f96e;
$trace3d_spindrift: #68fbd0;
$trace3d_ice: #68fdff;
$trace3d_sky: #6acfff;
$trace3d_orchid: #6e76ff;
$trace3d_lavender: #d278ff;
$trace3d_bubblegum: #ff7aff;
$trace3d_carnation: #ff7fd3;
