
$spacewalk_thumbnail_panel_width: 256px;

#spacewalk_contact_frequency_map_panel.card {

  width: $spacewalk_thumbnail_panel_width;
  height: unset;

  #spacewalk_contact_frequency_map_panel_body.card-body {

    width: $spacewalk_thumbnail_panel_width;
    height: unset;

    #spacewalk_contact_frequency_map_panel_container {
      width: $spacewalk_thumbnail_panel_width;
      height: $spacewalk_thumbnail_panel_width;
    }

    //background-color: magenta;

  }

  //background-color: greenyellow;

}
