
// modals
#trace3d_data_file_load_select_container {

  .form-control {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

}

#trace3d_data_file_load_url_container {

  .form-control {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

}
