
// modals
#spacewalk_data_file_load_select_container {

  .form-control {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

}

#spacewalk_data_file_load_url_container {

  .form-control {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

}
