
$spacewalk_thumbnail_panel_width: 160px;
$spacewalk_thumbnail_panel_heigth: $spacewalk_thumbnail_panel_width + $spacewalk_card_drag_container_height;

#spacewalk_distance_map_panel.card {

  width: $spacewalk_thumbnail_panel_width;
  height: $spacewalk_thumbnail_panel_heigth;

  #spacewalk_distance_map_panel_body.card-body {

    width: 100%;
    height: 100%;

    #spacewalk_distance_map_panel_container {
      width: 100%;
      height: calc(100% - #{ $spacewalk_card_drag_container_height });

      //background-color: $spacewalk_strawberry;
    }
  }

}
