
// igv palette
$trace3d_igv_palette_width: 600px;
$trace3d_igv_palette_heigth: 0.5 * $trace3d_igv_palette_width;

// igvjs palette
#trace3d_igv_palette.card {

  width: $trace3d_igv_palette_width;
  height: $trace3d_igv_palette_heigth;

  align-items: center;

  // igvjs container
  #trace3d_igv_container.card-body {

    height: $trace3d_igv_palette_heigth;
    overflow: auto;

    // url loader
    .form-group {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    // spinner
    .spinner-border {
      margin-left: 8px;
      margin-right: 8px;
      color: $trace3d_steel;
    }

    // track label
    #trace3d_igv_track_label {

      width: 100%;
      height: 16px;

      line-height: 16px;
      font-size: 12px;
      vertical-align: middle;

      color: $trace3d_steel;

      background-color: transparent;

    }

    // track container
    #trace3d_igv_root_container {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;

      overflow: auto;

      border-style: solid;
      border-width: thin;
      border-color: $trace3d_aluminum;

      background-color: $trace3d_snow;

    }
  }

}
