$spacewalk_info_panel_top: 2px + $spacewalk_navbar_height;
$spacewalk_info_panel_right: 0;
$spacewalk_info_panel_height: 24px;
$spacewalk_info_panel_width: 768px;

#spacewalk_info_panel {

  font-size: 0.85rem;
  font-weight: 200;

  color: white;
  background-color: transparent;

  position: absolute;
  top: $spacewalk_info_panel_top;
  right: $spacewalk_info_panel_right;

  width: 100%;
  height: $spacewalk_info_panel_height;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  >div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-left: 8px;
    >div:first-child {
      color: white;
      font-weight: 700;
    }
    >div:last-child {

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      margin-left: 8px;
    }
  }

}
