
.navbar {
  padding-top:   0.25rem;
  padding-bottom: 0.25rem;

  padding-right:  0.50rem;
  padding-left:   0.50rem;

  height: $spacewalk_navbar_height;

  //background-color: $spacewalk_iron;
}

.navbar-brand {
  display: inline-block;
  //padding-top: .3125rem;
  //padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#spacewalk-navbar-content {

  #spacewalk-file-name {
    color: $spacewalk_snow;
    font-size: 1rem;
  }
}
