
// structure select panel
$trace3d_structure_select_panel_width: 160px;
$trace3d_structure_select_panel_height: 108px;
$trace3d_structure_select_panel_label_height: 24px;

// structure select panel
#trace3d_structure_select_panel.card {

  width: $trace3d_structure_select_panel_width;
  height: auto;

  .card-body {

    #trace3d_structure_select_header {

      font-size: 14px;

      line-height: $trace3d_structure_select_panel_label_height;
      vertical-align: center;
      height: $trace3d_structure_select_panel_label_height;

      width: 100%;

      background-color: transparent;
    }

    .form-group {
      width: 95%;
      margin-bottom: 0.25rem;

      input#trace3d_structure_select_input {
        font-size: 16px;
      }

    }

  }

}
