$spacewalk_ui_manager_panel_size: 256px;

$spacewalk_ui_manager_button_top: 64px + $spacewalk_navbar_height;
$spacewalk_ui_manager_panel_top: 48px + $spacewalk_ui_manager_button_top;
$spacewalk_ui_manager_left: 32px;
$spacewalk_ui_manager_render_style_container_margin: 4px;
$spacewalk_ui_manager_margin: 6px;

// ui manager
#spacewalk_ui_manager_button {

  z-index: 2048;

  position: absolute;
  top: $spacewalk_ui_manager_button_top;
  left: $spacewalk_ui_manager_left;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  i {
    color: $spacewalk_aluminum;
    display: block;
  }

  i:hover {
    cursor: pointer;
    color: $spacewalk_iron;
  }
}

#spacewalk_ui_manager_panel.card {

  z-index: 2048;
  background-color: $spacewalk_tungsten;
  border-color: $spacewalk_tungsten;

  top: $spacewalk_ui_manager_panel_top;
  left: $spacewalk_ui_manager_left;

  width: $spacewalk_ui_manager_panel_size;
  height: auto;

  .list-group {
    margin-top: $spacewalk_ui_manager_margin;
    margin-bottom: $spacewalk_ui_manager_margin;
  }

  .list-group:first-child {
    margin-top: 2 * $spacewalk_ui_manager_margin;
  }

  .list-group:last-child {
    margin-bottom: unset;
  }

  li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    input {
      cursor: pointer;
      display: block;
    }
  }
}

.spacewalk_ui_manager_render_style_container {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;

  > div {
    margin-top: $spacewalk_ui_manager_render_style_container_margin;
    margin-bottom: $spacewalk_ui_manager_render_style_container_margin;
  }

}
