.navbar {
  background-color: #545453; }

.trace3d_tool_palette {
  width: 512px;
  height: 512px;
  z-index: 512;
  background-color: rgba(255, 255, 255, 0.65);
  border-style: solid;
  border-width: thin;
  border-color: #a09fa0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.trace3d_tool_palette:hover {
  border-width: 2px;
  border-color: #6e6e6e;
  background-color: #ffffff; }

#trace3d_data_file_load_palette.trace3d_tool_palette {
  position: absolute;
  width: 512px;
  height: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }
  #trace3d_data_file_load_palette.trace3d_tool_palette .form-group {
    margin: 8px; }
  #trace3d_data_file_load_palette.trace3d_tool_palette .spinner-border {
    margin-left: 8px;
    margin-right: 8px;
    color: #6e6e6e; }
  #trace3d_data_file_load_palette.trace3d_tool_palette > div {
    width: 100%; }
  #trace3d_data_file_load_palette.trace3d_tool_palette > div#trace3d_data_file_load_url_container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 0;
    border-top-color: transparent; }
  #trace3d_data_file_load_palette.trace3d_tool_palette > div#trace3d_data_file_load_local_file_container {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #a09fa0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-bottom-color: transparent; }

#trace3d_structure_select_palette.trace3d_tool_palette {
  position: absolute;
  width: 256px;
  height: 108px;
  background-color: #ffffff; }
  #trace3d_structure_select_palette.trace3d_tool_palette > div:first-child {
    cursor: move;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    line-height: 16px;
    vertical-align: center;
    height: 16px;
    width: 100%; }
  #trace3d_structure_select_palette.trace3d_tool_palette > .form-group {
    margin: 8px;
    width: 95%; }
    #trace3d_structure_select_palette.trace3d_tool_palette > .form-group input#trace3d_structure_select_input {
      font-size: 18px; }
  #trace3d_structure_select_palette.trace3d_tool_palette > div:last-child {
    cursor: default;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: transparent;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 16px;
    vertical-align: center;
    height: 16px;
    width: 100%; }

#trace3d_igv_palette.trace3d_tool_palette {
  position: absolute;
  width: 512px;
  height: 128px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff; }
  #trace3d_igv_palette.trace3d_tool_palette > div#trace3d_igv_container {
    width: 100%;
    height: calc(100% - (2 * 8px));
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    #trace3d_igv_palette.trace3d_tool_palette > div#trace3d_igv_container > div.form-group {
      width: 95%;
      margin-top: 8px;
      margin-bottom: 8px; }
    #trace3d_igv_palette.trace3d_tool_palette > div#trace3d_igv_container .spinner-border {
      margin-left: 8px;
      margin-right: 8px;
      color: #6e6e6e; }
    #trace3d_igv_palette.trace3d_tool_palette > div#trace3d_igv_container > div#trace3d_igv_track_label {
      width: 95%;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      vertical-align: middle;
      color: #6e6e6e;
      background-color: #ffffff; }
    #trace3d_igv_palette.trace3d_tool_palette > div#trace3d_igv_container > div#trace3d_igv_track_container {
      width: 95%;
      height: 36px;
      border-style: solid;
      border-width: thin;
      border-color: #a09fa0;
      background-color: #ffffff; }
      #trace3d_igv_palette.trace3d_tool_palette > div#trace3d_igv_container > div#trace3d_igv_track_container > canvas {
        cursor: pointer; }

#trace3d_color_ramp_palette.trace3d_tool_palette {
  position: absolute;
  width: 128px;
  height: 640px; }
  #trace3d_color_ramp_palette.trace3d_tool_palette .trace3d_color_ramp_widget_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 95%;
    background-color: transparent;
    font-size: 16px; }
    #trace3d_color_ramp_palette.trace3d_tool_palette .trace3d_color_ramp_widget_container .trace3d_color_ramp_header {
      width: 100%;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
      text-align: center; }
    #trace3d_color_ramp_palette.trace3d_tool_palette .trace3d_color_ramp_widget_container .trace3d_color_ramp {
      cursor: pointer;
      width: 36px;
      height: calc(100% - 32px - 32px);
      background-color: transparent; }
    #trace3d_color_ramp_palette.trace3d_tool_palette .trace3d_color_ramp_widget_container .trace3d_color_ramp_footer {
      width: 100%;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
      text-align: center; }

#trace3d_canvas_container {
  position: relative; }

/*# sourceMappingURL=app.css.map */
