$trace3d_navbar_height: 36px;

@import "color";
@import "navbar";
@import "palette";
@import "data_file_load";
@import "structure_select_palette";
@import "color_ramp_palette";
@import "igv_palette";
@import "juicebox_palette";
@import "ui_manager";

.igv-root-div {
  padding: 0 !important;
  margin: 0 !important;
}

.igv-content-header {
  display: none !important;
}

.igv-track-div {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.igv-trackgear-container {
  width: 14px !important;
  height: 14px !important;
}

#trace3d_canvas_container {

  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;

  overflow: hidden;

}
