@import "color";

$trace3d_border_radius: 8px;

$trace3d_text_box_height: 32px;

// palette template
$trace3d_tool_palette_width: 512px;
$trace3d_tool_palette_height: 512px;

// color ramp palette
$trace3d_color_ramp_palette_width: 128px;
$trace3d_color_ramp_palette_height: 640px;

// data file load palette
$trace3d_data_file_load_palette_width: 4 * 128px;
$trace3d_data_file_load_palette_height: $trace3d_data_file_load_palette_width / 4;

// structure select palette
$trace3d_structure_select_palette_width: 256px;
$trace3d_structure_select_palette_height: 108px;
$trace3d_structure_select_palette_label_height: 16px;

// igv palette
$trace3d_igv_palette_width: 512px;
$trace3d_igv_palette_height: 128px;

$trace3d_color_ramp_width: 36px;

.navbar {
  background-color: $trace3d_iron;
}

.card {
  position: absolute;
  z-index: 512;

  width: $trace3d_tool_palette_width;
  height: $trace3d_tool_palette_height;

  border-color: $trace3d_aluminum;
  background-color: rgba(255, 255, 255, 0.65);

  .card-body {
    padding: 0.5rem;
  }

}

.card:hover {
  border-width: 2px;
  border-color: $trace3d_steel;
  background-color: $trace3d_snow;
}

// igvjs palette
#trace3d_igv_palette.card {

  width: $trace3d_igv_palette_width;
  height: $trace3d_igv_palette_height;

  //background-color: $trace3d_snow;

  align-items: center;

  // igvjs container
  #trace3d_igv_container.card-body {

    width: 100%;

    // url loader
    .form-group {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 8px;
    }

    // spinner
    .spinner-border {
      margin-left: 8px;
      margin-right: 8px;
      color: $trace3d_steel;
    }

    // track label
    #trace3d_igv_track_label {

      width: 100%;
      height: 16px;

      line-height: 16px;
      font-size: 12px;
      vertical-align: middle;

      color: $trace3d_steel;

      background-color: transparent;

    }

    // track container
    #trace3d_igv_track_container {
      width: 100%;
      height: $trace3d_color_ramp_width;

      border-style: solid;
      border-width: thin;
      border-color: $trace3d_aluminum;

      background-color: $trace3d_snow;

      // track canvas
      > canvas {
        cursor: pointer;
      }

    }
  }

}

// color ramp palette
#trace3d_color_ramp_palette.card {

  width: $trace3d_color_ramp_palette_width;
  height: $trace3d_color_ramp_palette_height;

  align-items: center;
  justify-content: center;

  #trace3d_color_ramp_widget_container.card-body {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100px;
    height: 95%;

    font-size: 16px;

    // header text
    #trace3d_color_ramp_header {
      width: 100%;
      height: $trace3d_text_box_height;

      line-height: $trace3d_text_box_height;
      vertical-align: middle;
      text-align: center;
    }

    // ramp
    #trace3d_color_ramp {
      cursor: pointer;
      width: 36px;
      height: calc(100% - #{$trace3d_text_box_height} - #{$trace3d_text_box_height});

      background-color: transparent;
    }

    // footer text
    #trace3d_color_ramp_footer {
      width: 100%;
      height: $trace3d_text_box_height;

      line-height: $trace3d_text_box_height;
      vertical-align: middle;
      text-align: center;
    }

  }

}

// structure select palette
#trace3d_structure_select_palette.card {

  width: $trace3d_structure_select_palette_width;
  height: auto;

  //background-color: $trace3d_snow;

  #trace3d_structure_select_header {

    cursor: move;

    line-height: $trace3d_structure_select_palette_label_height;
    vertical-align: center;
    height: $trace3d_structure_select_palette_label_height;

    width: 100%;

    background-color: transparent;

  }

  .form-group {
    width: 95%;

    input#trace3d_structure_select_input {
      font-size: 18px;
    }

  }

}

// data file loading (CSV Segment Files) palette
#trace3d_data_file_load_palette.card {

  width: $trace3d_data_file_load_palette_width;
  height: auto;

  background-color: $trace3d_snow;

  .form-group {
    margin: 8px;
  }

  .spinner-border {
    margin-left: 8px;
    margin-right: 8px;
    color: $trace3d_steel;
  }

}

// root container
#trace3d_canvas_container {
  position: relative;

}
