.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.50rem;
  padding-left: 0.50rem;
  height: 36px; }

.navbar-brand {
  display: inline-block;
  padding-top: unset;
  padding-bottom: unset;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap; }

#spacewalk-navbar-content #spacewalk-file-name {
  color: #ffffff;
  font-size: 1rem; }

.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 0.95rem;
  color: #ffffff; }

.card {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 2048;
  width: 512px;
  height: 512px;
  border-color: #a09fa0;
  background-color: #ffffff;
  user-select: none; }
  .card .card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem;
    width: 100%; }
    .card .card-body .spacewalk_card_drag_container {
      cursor: grab;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 32px;
      background-color: transparent; }
      .card .card-body .spacewalk_card_drag_container i.fa-grip-horizontal {
        color: #6e6e6e;
        display: block; }

#spacewalk_data_file_load_select_container .form-control {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem; }

#spacewalk_data_file_load_url_container .form-control {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem; }

#spacewalk_trace_select_panel.card {
  width: 160px;
  height: auto; }
  #spacewalk_trace_select_panel.card .card-body #spacewalk_trace_select_header {
    font-size: 14px;
    line-height: 24px;
    vertical-align: center;
    height: 24px;
    width: 100%;
    background-color: transparent; }
  #spacewalk_trace_select_panel.card .card-body .form-group {
    width: 95%;
    margin-bottom: 0.25rem; }
    #spacewalk_trace_select_panel.card .card-body .form-group input#spacewalk_trace_select_input {
      font-size: 1.25rem; }

#spacewalk_color_ramp_panel.card {
  width: auto;
  height: 600px;
  padding-left: 12px;
  padding-right: 12px; }
  #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body {
    width: 100%;
    height: 600px;
    font-size: 16px; }
    #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_header {
      width: 100%;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
      text-align: center; }
    #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container {
      position: relative;
      cursor: pointer;
      width: 40px;
      height: calc(98% - 2 * 32px - 32px); }
      #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0; }
      #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container canvas#spacewalk_color_ramp_point_cloud_canvas_highlight {
        z-index: 192; }
      #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container canvas#spacewalk_color_ramp_canvas_highlight {
        z-index: 128; }
      #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container canvas#spacewalk_color_ramp_point_cloud_canvas_rgb {
        z-index: 64; }
      #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container canvas#spacewalk_color_ramp_canvas_rgb {
        z-index: inherit; }
      #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_canvas_container canvas#spacewalk_color_ramp_canvas_alpha {
        z-index: -128; }
    #spacewalk_color_ramp_panel.card #spacewalk_color_ramp_widget_container.card-body #spacewalk_color_ramp_footer {
      width: 100%;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
      text-align: center; }

#spacewalk_juicebox_panel.card {
  width: auto;
  height: auto;
  align-items: center; }
  #spacewalk_juicebox_panel.card .card-body #spacewalk_hic_url_form_group {
    width: 95%;
    margin-top: 4px;
    margin-bottom: 4px; }
  #spacewalk_juicebox_panel.card .card-body #spacewalk_juicebox_root_container {
    width: 100%;
    height: 398px;
    overflow-y: auto; }
    #spacewalk_juicebox_panel.card .card-body #spacewalk_juicebox_root_container .hic-root {
      margin: 0;
      border-color: transparent;
      border-width: thin;
      border-radius: .25rem; }

#spacewalk_thumbnail_panel.card {
  width: 160px;
  height: 192px; }
  #spacewalk_thumbnail_panel.card #spacewalk_thumbnail_panel_body.card-body {
    width: 100%;
    height: 100%; }
    #spacewalk_thumbnail_panel.card #spacewalk_thumbnail_panel_body.card-body #spacewalk_thumbnail_container {
      width: 100%;
      height: calc(100% - 32px); }

#spacewalk_distance_map_panel.card {
  width: 256px;
  height: unset;
  border: 0; }
  #spacewalk_distance_map_panel.card .card-header .spacewalk_card_drag_container {
    cursor: grab;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    background-color: transparent; }
    #spacewalk_distance_map_panel.card .card-header .spacewalk_card_drag_container i.fa-grip-horizontal {
      color: #6e6e6e;
      display: block; }
  #spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem;
    width: 256px;
    height: unset; }
    #spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container {
      width: 256px;
      height: 256px; }

#spacewalk_contact_frequency_map_panel.card {
  width: 256px;
  height: unset;
  border: 0; }
  #spacewalk_contact_frequency_map_panel.card .card-header .spacewalk_card_drag_container {
    cursor: grab;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
    background-color: transparent; }
    #spacewalk_contact_frequency_map_panel.card .card-header .spacewalk_card_drag_container i.fa-grip-horizontal {
      color: #6e6e6e;
      display: block; }
  #spacewalk_contact_frequency_map_panel.card .card-header .form-group {
    /* margin-bottom: 1rem; */
    margin-bottom: 0; }
  #spacewalk_contact_frequency_map_panel.card .card-header input#spacewalk_contact_frequency_map_adjustment_select_input {
    font-size: 1.25rem; }
  #spacewalk_contact_frequency_map_panel.card #spacewalk_contact_frequency_map_panel_body.card-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.125rem;
    width: 256px;
    height: unset; }
    #spacewalk_contact_frequency_map_panel.card #spacewalk_contact_frequency_map_panel_body.card-body #spacewalk_contact_frequency_map_panel_container {
      width: 256px;
      height: 256px; }

.spacewalk_ui_manager_render_style_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start; }
  .spacewalk_ui_manager_render_style_container > div {
    margin-top: 4px;
    margin-bottom: 4px; }

#spacewalk_ui_manager_button {
  z-index: 2048;
  position: absolute;
  top: 100px;
  left: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  #spacewalk_ui_manager_button i {
    color: #a09fa0;
    display: block; }
  #spacewalk_ui_manager_button i:hover {
    cursor: pointer;
    color: #545453; }

#spacewalk_ui_manager_panel.card {
  z-index: 2048;
  top: 148px;
  left: 32px;
  width: 256px;
  height: auto; }
  #spacewalk_ui_manager_panel.card li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    #spacewalk_ui_manager_panel.card li input {
      cursor: pointer;
      display: block; }

#spacewalk_info_panel {
  font-size: 0.90rem;
  font-weight: 200;
  color: #6acfff;
  background-color: transparent;
  position: absolute;
  top: 38px;
  right: 0;
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  #spacewalk_info_panel > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8px; }
    #spacewalk_info_panel > div > div:first-child {
      color: white;
      font-weight: 400; }
    #spacewalk_info_panel > div > div:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
      font-weight: 200; }

.igv-left-hand-gutter > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }
  .igv-left-hand-gutter > div > input {
    display: block; }
.igv-left-hand-gutter > div:hover {
  background-color: #e8e8e8; }

.igv-app-dropdown-item-cloud-storage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  margin-top: 4px;
  margin-bottom: 4px; }
  .igv-app-dropdown-item-cloud-storage div:first-child {
    margin-right: 4px; }
  .igv-app-dropdown-item-cloud-storage div:last-child {
    margin-left: 4px; }

#spacewalk_igv_panel.card {
  resize: both;
  overflow: scroll;
  width: 600px;
  height: unset;
  align-items: center;
  justify-content: flex-start; }
  #spacewalk_igv_panel.card #spacewalk_igv_container.card-body {
    height: unset; }
    #spacewalk_igv_panel.card #spacewalk_igv_container.card-body #spacewalk_igv_root_container {
      width: 100%;
      height: 100%;
      border-style: solid;
      border-width: thin;
      border-color: #a09fa0;
      background-color: #ffffff; }

.igv-file-load-widget-container {
  position: relative;
  border-color: transparent;
  width: 100%;
  padding-bottom: 20px;
  color: #7F7F7F;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  border-style: solid;
  border-width: thin;
  background-color: white;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center; }
  .igv-file-load-widget-container .igv-file-load-widget-header {
    width: 100%;
    height: 24px;
    background-color: #bfbfbf;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center; }
    .igv-file-load-widget-container .igv-file-load-widget-header div {
      height: 24px;
      width: 16px;
      margin-right: 6px;
      text-align: center;
      line-height: 24px;
      color: #373737; }
    .igv-file-load-widget-container .igv-file-load-widget-header div:hover {
      cursor: pointer; }
  .igv-file-load-widget-container .igv-flw-input-container {
    width: 95%;
    margin-top: 24px;
    margin-bottom: 0;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row {
      height: 36px;
      width: 100%;
      margin-top: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      border-color: white;
      border-style: solid;
      border-width: thin;
      border-radius: calc(2 * 2px); }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-input-label {
        color: #6c757c;
        font-weight: 400;
        margin-left: 8px;
        width: 128px;
        height: 36px;
        line-height: 36px;
        text-align: left; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row input {
        display: block;
        height: 100%;
        width: 100%;
        padding-left: 4px;
        font-family: "Open Sans", sans-serif;
        font-weight: 200;
        font-size: 0.875rem;
        color: #373737;
        text-align: left;
        outline: none;
        border-style: solid;
        border-width: thin;
        border-color: #7F7F7F;
        background-color: white; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row input {
        width: 410px;
        height: calc(36px - 12px); }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 130px;
        height: calc(36px - 8px);
        border-color: #6c757c;
        border-style: solid;
        border-width: thin;
        border-radius: calc(2 * 2px);
        background-color: white; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label {
          display: block;
          margin: unset; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label.igv-flw-label-color {
          color: #6c757c; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label.igv-flw-label-color-hover {
          cursor: pointer; }
        .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container input.igv-flw-file-chooser-input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container:hover {
        cursor: pointer;
        background-color: #6c757c; }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-drag-drop-target {
        cursor: default;
        margin-left: 8px;
        width: 120px;
        height: calc(36px - 8px);
        line-height: calc(36px - 8px);
        text-align: center;
        border-color: #7F7F7F;
        border-style: dashed;
        border-width: thin;
        border-radius: calc(2 * 2px); }
      .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-local-file-name-container {
        max-width: 400px;
        height: 36px;
        color: #373737;
        line-height: 36px;
        text-align: left;
        font-weight: 400;
        margin-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row-hover-state {
      background-color: #efefef;
      border-color: #7F7F7F; }
  .igv-file-load-widget-container .igv-flw-error-message-container {
    margin-top: 8px;
    width: 95%;
    height: 24px;
    padding-left: 8px;
    color: white;
    font-size: 0.875rem;
    background-color: rgba(59, 92, 127, 0.5);
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
    .igv-file-load-widget-container .igv-flw-error-message-container div:first-child.igv-flw-error-message {
      height: 24px;
      width: 600px;
      font-style: italic;
      line-height: 24px;
      text-align: left; }
    .igv-file-load-widget-container .igv-flw-error-message-container div:last-child {
      height: 24px;
      width: 16px;
      margin-right: 6px;
      text-align: center;
      line-height: 24px;
      color: #373737; }
    .igv-file-load-widget-container .igv-flw-error-message-container div:hover {
      cursor: pointer; }
  .igv-file-load-widget-container .igv-file-load-widget-ok-cancel {
    width: 100%;
    height: 28px;
    margin-top: 32px;
    color: white;
    font-size: 0.875rem;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div {
      width: 75px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      border-color: transparent;
      border-style: solid;
      border-width: thin;
      border-radius: 2px;
      margin-right: 16px; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:first-child {
      margin-right: 22px;
      background-color: #c4c4c4; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:first-child:hover {
      cursor: pointer;
      background-color: #7f7f7f; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:last-child {
      background-color: #5ea4e0; }
    .igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:last-child:hover {
      cursor: pointer;
      background-color: #3b5c7f; }

#igv-encode-spinner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.modal {
  z-index: 99099; }

.igv-root-div {
  padding: 0 !important;
  margin: 0 !important; }

.igv-content-header {
  display: none !important; }

.igv-track-div {
  margin-top: 2px !important;
  margin-bottom: 2px !important; }

.igv-trackgear-container {
  width: 14px !important;
  height: 14px !important; }

#spacewalk_canvas_container {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  overflow: hidden;
  background-color: #888787; }

/*# sourceMappingURL=app.css.map */
