@import "color";

$trace3d_border_radius: 8px;

$trace3d_text_box_height: 32px;
$trace3d_tool_palette_height: 640px;
$trace3d_tool_palette_width: 200px;

$trace3d_segment_grid_select_border_width: 1px;

$trace3d_segment_grid_select_header_height: 32px;

$trace3d_segment_grid_select_palette_width: 300px;
$trace3d_segment_grid_select_palette_height: $trace3d_tool_palette_height;

$trace3d_segment_grid_select_box_size: 512px;

$trace3d_segment_grid_select_box_width: 256px;
$trace3d_segment_grid_select_box_height: 0.85 * $trace3d_segment_grid_select_palette_height;

$trace3d_segment_grid_select_cell_count: 32;
$trace3d_segment_grid_select_cell_size: $trace3d_segment_grid_select_box_size / $trace3d_segment_grid_select_cell_count;

$trace3d_data_file_load_palette_width: 4 * 128px;
$trace3d_data_file_load_palette_height: $trace3d_data_file_load_palette_width / 4;

$trace3d_igv_palette_dimension: 120px;
$trace3d_igv_palette_width: 5 * $trace3d_igv_palette_dimension;
$trace3d_igv_palette_height: 2 * $trace3d_igv_palette_dimension;

#trace3d_canvas_container {
  position: relative;

}

.trace3d_tool_palette {

  position: absolute;
  width: $trace3d_tool_palette_width;
  height: $trace3d_tool_palette_height;

  z-index: 512;

  background-color: rgba(255, 255, 255, 0.65);

  border-style: solid;
  border-width: thin;
  border-color: $trace3d_aluminum;
  border-radius: $trace3d_border_radius;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.trace3d_tool_palette:hover {
  border-width: 2px;
  border-color: $trace3d_steel;
  background-color: $trace3d_snow;
}

#trace3d_igv_palette.trace3d_tool_palette {

  top: 32px;
  left: 64px;

  width: $trace3d_igv_palette_width;
  height: $trace3d_igv_palette_height;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  > div {
    width: 100%;
    height: calc(100% - (2 * #{$trace3d_border_radius}));

    border-top-style: solid;
    border-top-width: thin;
    border-top-color: $trace3d_aluminum;

    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: $trace3d_aluminum;

  }

}

#trace3d_data_file_load_palette.trace3d_tool_palette {

  width: $trace3d_data_file_load_palette_width;
  height: $trace3d_data_file_load_palette_height;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;

  .form-group {
    margin: 8px;
  }

  > div {
    height: 100%;
    width: 100%;
  }

  > div:first-child {

    border-top-left-radius: $trace3d_border_radius;
    border-top-right-radius: $trace3d_border_radius;
    border-top-style: solid;
    border-top-width: 0;
    border-top-color: transparent;

    //background-color: $trace3d_honeydew;
  }

  > div:last-child {

    border-top-style: solid;
    border-top-width: thin;
    border-top-color: $trace3d_aluminum;

    border-bottom-left-radius: $trace3d_border_radius;
    border-bottom-right-radius: $trace3d_border_radius;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-bottom-color: transparent;

    //background-color: $trace3d_aqua;
  }

}

#trace3d_segment_select_palette.trace3d_tool_palette {
  padding-top: 16px;
  justify-content: flex-start;
  height: 2 * $trace3d_tool_palette_width;

  select.form-control {
    &[size], &[multiple] {
      height: 1.5 * $trace3d_tool_palette_width;
    }
  }
}

.trace3d_tool_palette_ramp_container {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 50%;
  height: 95%;

  //border-style: solid;
  //border-width: thin;
  //border-color: $trace3d_aluminum;

  background-color: transparent;

  font-size: 16px;

  // header text
  .trace3d_tool_palette_ramp_header {
    width: 100%;
    height: $trace3d_text_box_height;

    line-height: $trace3d_text_box_height;
    vertical-align: middle;
    text-align: center;
  }

  // ramp
  .trace3d_tool_palette_ramp {
    cursor: pointer;
    width: 36px;
    height: calc(100% - #{$trace3d_text_box_height} - #{$trace3d_text_box_height});

    background-color: transparent;
  }

  // footer text
  .trace3d_tool_palette_ramp_footer {
    width: 100%;
    height: $trace3d_text_box_height;

    line-height: $trace3d_text_box_height;
    vertical-align: middle;
    text-align: center;
  }

}

.trace3d_segment_grid_select_palette {

  position: absolute;
  width: $trace3d_segment_grid_select_palette_width;
  height: $trace3d_segment_grid_select_palette_height;

  z-index: 512;

  background-color: rgba(255, 255, 255, 0.51);

  border-style: solid;
  border-width: $trace3d_segment_grid_select_border_width;
  border-color: $trace3d_aluminum;
  border-radius: $trace3d_border_radius;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  // header
  #trace3d_segment_grid_select_header {
    width: 100%;
    height: $trace3d_segment_grid_select_header_height;
    line-height: $trace3d_segment_grid_select_header_height;
    text-align: center;
    //background-color: red;
    margin: 8px;
  }

  // box
  #trace3d_segment_grid_select_box {
    width: $trace3d_segment_grid_select_box_width + 2 * $trace3d_segment_grid_select_border_width;
    height: $trace3d_segment_grid_select_box_height + 2 * $trace3d_segment_grid_select_border_width;

    border-style: solid;
    border-width: $trace3d_segment_grid_select_border_width;
    border-color: $trace3d_aluminum;

    padding: 8px;

    //background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    overflow: auto;

    // cell
    > div.trace3d_segment_grid_cell {
      border: unset;
      width: $trace3d_segment_grid_select_cell_size;
      height: $trace3d_segment_grid_select_cell_size;
      //background-color: transparent;
      background-size: $trace3d_segment_grid_select_cell_size $trace3d_segment_grid_select_cell_size;
      background-image: url(../img/dot_empty_ring.svg);
    }

    > div.trace3d_segment_grid_cell_clicked {
      background-image: url(../img/dot_solid_disk.svg);
    }

    > div.trace3d_segment_grid_cell_unclicked {
      background-image: url(../img/dot_empty_ring.svg);
    }


    //div:hover {
    //  cursor: pointer;
    //  background-image: url(../img/dot_solid_disk.svg);
    //}
  }

}

.trace3d_segment_grid_select_palette:hover {
  border-width: 2px;
  border-color: $trace3d_steel;
  background-color: $trace3d_snow;
}
