@use "navbar";
@use "color";

$spacewalk_info_panel_top: 2px + navbar.$spacewalk_navbar_height;
$spacewalk_info_panel_right: 0;
$spacewalk_info_panel_left: 4px;


div#spacewalk_info_panel {

  position: absolute;
  top: $spacewalk_info_panel_top;
  left: $spacewalk_info_panel_left;

  width: fit-content;

  padding: .125rem;
  padding-left: .25rem;
  padding-right: .25rem;

  font-size: 1rem;
  font-weight: 400;

  color: color.$spacewalk_steel;
  background-color: color.$spacewalk_snow;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  >div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;

    >div:first-child {
      font-weight: 700;
      padding-right: .25rem;
    }
    >div:last-child {

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }

  >div:last-child {
    padding-right: unset;
  }
}
