
$spacewalk_color_ramp_canvas_width: 40px;

$spacewalk_color_ramp_panel_width: 80px;
$spacewalk_color_ramp_panel_height: 600px;

$spacewalk_text_box_height: 32px;
$spacewalk_color_ramp_panel_padding: 12px;

$spacewalk_trace_select_panel_label_height: 24px;
$spacewalk_trace_select_panel_width: 160px;

#spacewalk_color_ramp_panel.card {

  width: $spacewalk_trace_select_panel_width;

  height: auto;

  // color-ramp card-body
  #spacewalk_color_ramp_widget_container.card-body {

    width: 100%;
    height: $spacewalk_color_ramp_panel_height;

    font-size: 16px;

    // color-ramp header
    #spacewalk_color_ramp_header {
      width: 100%;
      height: $spacewalk_text_box_height;

      line-height: $spacewalk_text_box_height;
      vertical-align: middle;
      text-align: center;
    }

    // color-ramp widget
    #spacewalk_color_ramp_canvas_container {
      position: relative;

      cursor: pointer;

      width: $spacewalk_color_ramp_canvas_width;
      height: calc(98% - 2 * #{$spacewalk_text_box_height} - #{$spacewalk_card_drag_container_height});

      canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }

      canvas#spacewalk_color_ramp_point_cloud_canvas_highlight {
        z-index: 192;
      }

      canvas#spacewalk_color_ramp_canvas_highlight {
        z-index: 128;
      }

      canvas#spacewalk_color_ramp_point_cloud_canvas_rgb {
        z-index: 64;
      }

      canvas#spacewalk_color_ramp_canvas_rgb {
        z-index: inherit;
      }

      canvas#spacewalk_color_ramp_canvas_alpha {
        z-index: -128;
      }

    }

    // color-ramp footer
    #spacewalk_color_ramp_footer {
      width: 100%;
      height: $spacewalk_text_box_height;

      line-height: $spacewalk_text_box_height;
      vertical-align: middle;
      text-align: center;
    }

  }

  // trace-select card body
  .card-body {

    // trace-select header
    #spacewalk_trace_select_header {

      font-size: 1rem;

      line-height: $spacewalk_trace_select_panel_label_height;
      vertical-align: center;
      height: $spacewalk_trace_select_panel_label_height;

      width: 100%;

      background-color: transparent;
    }

    // trace-select widget
    .form-group {
      width: 95%;
      margin-bottom: 0.25rem;

      input#spacewalk_trace_select_input {
        font-size: 1rem;
      }

    }

  }

}
