
// igv panel
$spacewalk_igv_panel_width: 600px;
$spacewalk_igv_panel_heigth: 256px;

@use "color";

.igv-left-hand-gutter {

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: color.$spacewalk_snow;

    > input {
      display: block;
    }

  }

  >div:hover {
    background-color: color.$spacewalk_mercury;
  }

};

.spacewalk-igv-app-dropdown-item-cloud-storage {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 18px;

  margin-top: 4px;
  margin-bottom: 4px;

  div:first-child {
    margin-right: 4px;
  }

  div:last-child {
    margin-left: 4px;
  }

}

#spacewalk_igv_panel.card {

  width: fit-content;
  height: fit-content;

  resize: both;
  overflow: auto;

  align-items: center;
  justify-content: flex-start;

  #spacewalk_igv_container.card-body {

    width: $spacewalk_igv_panel_width;
    height: $spacewalk_igv_panel_heigth;

    min-width: fit-content;
    min-height: fit-content;

    justify-content: flex-start;
    align-items: flex-start;

    .spacewalk_card_drag_container {

      i.fa-grip-horizontal {
        cursor: unset;
        color: transparent;
        background-color: transparent;
      }

      a.dropdown-toggle {
        color: unset;
      }
    }

    #spacewalk_igv_root_container {

      overflow: scroll;
      width: 100%;
      //height: max-content;
      min-width: fit-content;
      min-height: fit-content;


      border-style: solid;
      border-width: thin;
      border-color: color.$spacewalk_aluminum;
      background-color: color.$spacewalk_snow;
    }
  }

}
