
// juicebox panel
#spacewalk_juicebox_panel.card {

  width: auto;
  height: auto;

  align-items: center;

  .card-header {
    width: 100%;
    padding-bottom: unset;

    .spacewalk_card_drag_container {
      i.fa-grip-horizontal {
        cursor: unset;
        color: transparent;
        background-color: transparent;
      }
    }

    .list-group {
      width: 100%;
      #hic-live-contact-frequency-map-threshold-widget.list-group-item {
        div.input-group {
          width: 200px;
        }
      }
    }
  }

  .card-body {
    #spacewalk_juicebox_root_container {
      .hic-root {
        margin: 0;
        border-color: transparent;
        border-width: thin;
        border-radius: .25rem;
      }
    }
  }

}
