$spacewalk_navbar_height: 42px;
$spacewalk_spinner_size: 128px;

//$spacewalk-threejs-canvas-container-size: 512px;
$spacewalk-threejs-canvas-container-size: 256px;

$spacewalk-threejs-drag-container-height: 32px;

$spacewalk-trace-navigator-width: 48px;
$spacewalk-trace-navigator-label-height: 32px;
$spacewalk-trace-navigator-canvas-width: 40px;

@import "color";
@import "navbar";
@import "panel";
@import "data_file_load_modal";
@import "distance_map_panel";
@import "contact_frequence_map_panel";
@import "juicebox_panel";
@import "igv_panel";

@import "ui_manager";
@import "info_panel";

#spacewalk-root-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $spacewalk_silver;
}

#spacewalk-threejs-container {

  position: absolute;
  top: 128px;
  left: 128px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  #spacewalk-threejs-drag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: $spacewalk-threejs-drag-container-height;
    background-color: $spacewalk_snow;

    cursor: grab;

    i {
      color: $spacewalk_steel;
      display: block;
    }

  }

  #spacewalk-threejs-trace-navigator-container {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    #spacewalk-threejs-canvas-container {
      width: $spacewalk-threejs-canvas-container-size;
      height:$spacewalk-threejs-canvas-container-size;
      background-color: $spacewalk_nickel;
    }

    #spacewalk-trace-navigator-container {

      width: $spacewalk-trace-navigator-width;
      height: $spacewalk-threejs-canvas-container-size;
      background-color: white;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      #spacewalk-trace-navigator-header {
        width: 100%;
        height: $spacewalk-trace-navigator-label-height;

        font-size: .85rem;
        line-height: $spacewalk-trace-navigator-label-height;
        vertical-align: middle;
        text-align: center;
        background-color: white;
      }

      #spacewalk-trace-navigator-widget {
        position: relative;
        cursor: pointer;

        width: $spacewalk-trace-navigator-canvas-width;
        height: 100%;

        //background-color: #6495ed;

        canvas {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }

        canvas#spacewalk_color_ramp_canvas_highlight {
          z-index: 128;
        }

        canvas#spacewalk_color_ramp_canvas_rgb {
          z-index: inherit;
        }

        canvas#spacewalk_color_ramp_canvas_alpha {
          z-index: -128;
        }

      }

      #spacewalk-trace-navigator-footer {
        width: 100%;
        height: $spacewalk-trace-navigator-label-height;

        font-size: .85rem;
        line-height: $spacewalk-trace-navigator-label-height;
        vertical-align: middle;
        text-align: center;

        background-color: white;
      }

    }
  }

}

// jQuery UI hack
.ui-widget-content {
  border: 0 solid;
  background: transparent;
  color: transparent;
}

.spacewalk-threejs-container-resizable-helper {
  border: 2px dotted $spacewalk_snow;
}

.ui-resizable-handle {
  z-index: 1024;
}

#spacewalk-spinner-container {

  pointer-events:none;

  position: absolute;

  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;

  background-color: transparent;

  .spinner-border {

    pointer-events:none;

    width: $spacewalk_spinner_size;
    height: $spacewalk_spinner_size;

    color: $spacewalk_mercury;
    border-width: 0.5rem;
  }
}

.modal {
  z-index:99099;
}

.igv-root-div {
  padding: 0 !important;
  margin: 0 !important;
}

.igv-content-header {
  display: none !important;
}

.igv-track-div {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.igv-trackgear-container {
  width: 14px !important;
  height: 14px !important;
}
