.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: unset;
  padding-right: unset;
  height: 42px;
}
.navbar .navbar-nav .nav-link {
  font-size: 0.95rem;
  font-weight: 600;
  color: #ffffff;
}
.navbar .navbar-nav .btn:focus, .navbar .navbar-nav a:focus {
  outline: none;
  box-shadow: none;
}
.navbar .input-group {
  margin: 0.4rem;
}
.navbar .input-group .form-control {
  height: unset;
  padding: unset;
}
.navbar .dropdown-header {
  color: white;
  background-color: #6e6e6e;
  font-size: 1rem;
}
.navbar .dropdown-item {
  color: #3a3a3a;
  font-size: 0.875rem;
}

div.navbar-brand {
  color: #ffffff;
  background-color: #4A90E2;
  height: 42px;
  font-size: 1.5rem;
  line-height: 42px;
  font-weight: 200;
  padding: unset;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin: unset;
}

#spacewalk-navbar-content #spacewalk-file-name {
  color: #ffffff;
  font-size: 1rem;
}

#spacewalk-help-icon-container {
  width: 42px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#spacewalk-help-icon-container button span {
  color: white;
}

.checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin: 0;
  transition: background-color 0.4s ease;
}

.checkbox-menu li input {
  margin: 0 5px;
  top: 2px;
  position: relative;
}

.checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.card {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 1024;
  width: 512px;
  height: 512px;
  border-color: #a09fa0;
  background-color: #ffffff;
  user-select: none;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem;
  width: 100%;
}

.spacewalk_card_drag_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: transparent;
}
.spacewalk_card_drag_container i {
  cursor: grab;
  color: #6e6e6e;
  display: block;
}
.spacewalk_card_drag_container i:first-child {
  cursor: unset;
  color: transparent;
  background-color: transparent;
}
.spacewalk_card_drag_container i:last-child {
  cursor: pointer;
  margin-right: 8px;
}

#spacewalk_data_file_load_select_container .form-control {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#spacewalk_data_file_load_url_container .form-control {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#spacewalk_distance_map_panel.card {
  width: 418px;
  height: unset;
}
#spacewalk_distance_map_panel.card .card-header {
  padding-top: 0;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem;
  width: 418px;
  height: unset;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container {
  cursor: pointer;
  position: relative;
  width: 418px;
  height: 418px;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container > div.spacewalk-spinner-container {
  pointer-events: none;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container > canvas {
  pointer-events: none;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container .crosshair {
  display: none;
  position: absolute;
  background-color: #02f7ff;
  z-index: 256;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container .crosshair.horizontal {
  left: 0;
  height: 2px;
  width: 100%;
}
#spacewalk_distance_map_panel.card #spacewalk_distance_map_panel_body.card-body #spacewalk_distance_map_panel_container .crosshair.vertical {
  top: 0;
  width: 2px;
  height: 100%;
}

#spacewalk_juicebox_panel.card {
  width: auto;
  height: auto;
  align-items: center;
}
#spacewalk_juicebox_panel.card .card-header {
  width: 100%;
  padding-bottom: unset;
}
#spacewalk_juicebox_panel.card .card-header .spacewalk_card_drag_container {
  cursor: grab;
}
#spacewalk_juicebox_panel.card .card-header .spacewalk_card_drag_container i.fa-grip-horizontal {
  color: transparent;
  background-color: transparent;
}
#spacewalk_juicebox_panel.card .card-header .list-group {
  width: 100%;
  background-color: white;
}
#spacewalk_juicebox_panel.card .card-header .list-group #hic-contact-map-dropdown.dropdown-toggle {
  color: unset;
  text-decoration-line: unset;
  cursor: pointer;
}
#spacewalk_juicebox_panel.card .card-header .list-group #hic-contact-map-dropdown.dropdown-toggle:hover {
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  padding: 4px;
}
#spacewalk_juicebox_panel.card .card-header .list-group #hic-live-contact-frequency-map-threshold-widget.list-group-item div.input-group {
  width: 200px;
}
#spacewalk_juicebox_panel.card .card-body #spacewalk_juicebox_root_container .hic-root {
  margin: 0;
  border-color: transparent;
  border-width: thin;
  border-radius: 0.25rem;
}

.igv-left-hand-gutter > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.igv-left-hand-gutter > div > input {
  display: block;
}
.igv-left-hand-gutter > div:hover {
  background-color: #e8e8e8;
}

.spacewalk-igv-app-dropdown-item-cloud-storage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.spacewalk-igv-app-dropdown-item-cloud-storage div:first-child {
  margin-right: 4px;
}
.spacewalk-igv-app-dropdown-item-cloud-storage div:last-child {
  margin-left: 4px;
}

#spacewalk_igv_panel.card {
  width: fit-content;
  height: fit-content;
  resize: both;
  overflow: auto;
  align-items: center;
  justify-content: flex-start;
}
#spacewalk_igv_panel.card #spacewalk_igv_container.card-body {
  width: 600px;
  height: 256px;
  min-width: fit-content;
  min-height: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
}
#spacewalk_igv_panel.card #spacewalk_igv_container.card-body .spacewalk_card_drag_container i.fa-grip-horizontal {
  cursor: unset;
  color: transparent;
  background-color: transparent;
}
#spacewalk_igv_panel.card #spacewalk_igv_container.card-body .spacewalk_card_drag_container a.dropdown-toggle {
  color: unset;
  text-decoration-line: unset;
  cursor: pointer;
}
#spacewalk_igv_panel.card #spacewalk_igv_container.card-body .spacewalk_card_drag_container a.dropdown-toggle:hover {
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  padding: 4px;
}
#spacewalk_igv_panel.card #spacewalk_igv_container.card-body #spacewalk_igv_root_container {
  overflow: scroll;
  width: 100%;
  min-width: fit-content;
  min-height: fit-content;
  border-style: solid;
  border-width: thin;
  border-color: #a09fa0;
  background-color: #ffffff;
}

#spacewalk-threejs-settings-button-container {
  position: absolute;
  top: 96px;
  left: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#spacewalk-threejs-settings-button-container i {
  color: #a09fa0;
  display: block;
}
#spacewalk-threejs-settings-button-container i:hover {
  cursor: pointer;
  color: #545453;
}

#spacewalk_ui_manager_panel.card {
  z-index: 2048;
  position: absolute;
  top: 150px;
  left: 32px;
  width: 300px;
  height: auto;
  background-color: #f8f9fa;
  border-color: #3a3a3a;
}
#spacewalk_ui_manager_panel.card i.fa-minus-circle {
  cursor: pointer;
}
#spacewalk_ui_manager_panel.card i.fa-plus-circle {
  cursor: pointer;
}
#spacewalk_ui_manager_panel.card .list-group {
  margin-top: 6px;
  margin-bottom: 6px;
}
#spacewalk_ui_manager_panel.card .list-group .list-group-item {
  background-color: transparent;
}
#spacewalk_ui_manager_panel.card .list-group:first-child {
  margin-top: 12px;
}
#spacewalk_ui_manager_panel.card .list-group:last-child {
  margin-bottom: unset;
}

input#spacewalk_ui_manager_input_group_shim {
  opacity: 0; /* Makes the input invisible */
  pointer-events: none; /* Prevents interaction */
}

li.spacewalk-colorpicker-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
li.spacewalk-colorpicker-li input {
  cursor: pointer;
  display: block;
}

li#spacewalk_ui_manager_pointcloud_render_style {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
li#spacewalk_ui_manager_pointcloud_render_style i.fa-minus-circle {
  cursor: pointer;
}
li#spacewalk_ui_manager_pointcloud_render_style i.fa-plus-circle {
  cursor: pointer;
}
li#spacewalk_ui_manager_pointcloud_render_style > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
li#spacewalk_ui_manager_pointcloud_render_style > div > div {
  margin-right: 8px;
}
li#spacewalk_ui_manager_pointcloud_render_style > div > div:first-child {
  margin-right: 16px;
}

li#spacewalk_ui_manager_render_styles .form-check-input {
  cursor: pointer;
}
li#spacewalk_ui_manager_render_styles > div {
  width: -webkit-fill-available;
}

.spacewalk-ball-stick-control {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.spacewalk-ball-stick-control i.fa-minus-circle {
  cursor: pointer;
}
.spacewalk-ball-stick-control i.fa-plus-circle {
  cursor: pointer;
}
.spacewalk-ball-stick-control > div {
  margin-top: 4px;
}
.spacewalk-ball-stick-control > div:first-child {
  margin-left: 32px;
}
.spacewalk-ball-stick-control > div:last-child {
  margin-bottom: 4px;
}
.spacewalk-ball-stick-control i.fas {
  color: #3a3a3a;
}
.spacewalk-ball-stick-control i.fas:first-child {
  margin-right: 8px;
}
.spacewalk-ball-stick-control i.fas:hover {
  cursor: pointer;
  color: #3a3a3a;
}

#spacewalk-stick-visibility-control .form-check-input {
  cursor: pointer;
}
#spacewalk-stick-visibility-control .form-check-input {
  width: 2.5em;
  height: 1.25em;
  margin-top: 0;
}

.spacewalk-threejs-settings-feature {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

li.spacewalk-colorpicker-li {
  padding: unset;
}
li.spacewalk-colorpicker-li .input-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}
li.spacewalk-colorpicker-li .input-group .input-group-prepend .input-group-text {
  color: #3a3a3a;
  background-color: transparent;
  border: unset;
}
li.spacewalk-colorpicker-li .input-group .input-group-append .input-group-text {
  color: #3a3a3a;
  border: unset;
  border-radius: unset;
  height: 100%;
  width: 36px;
  padding-left: unset;
  padding-right: unset;
  background-color: white;
}

div#spacewalk_info_panel {
  position: absolute;
  top: 44px;
  left: 4px;
  width: fit-content;
  padding: 0.125rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  color: #6e6e6e;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
div#spacewalk_info_panel > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}
div#spacewalk_info_panel > div > div:first-child {
  font-weight: 700;
  padding-right: 0.25rem;
}
div#spacewalk_info_panel > div > div:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div#spacewalk_info_panel > div:last-child {
  padding-right: unset;
}

.igv-file-load-widget-container {
  position: relative;
  border-color: transparent;
  width: 100%;
  color: #7F7F7F;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  border-style: solid;
  border-width: thin;
  background-color: white;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.igv-file-load-widget-container .igv-file-load-widget-header {
  width: 100%;
  height: 24px;
  background-color: #bfbfbf;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.igv-file-load-widget-container .igv-file-load-widget-header div {
  height: 24px;
  width: 16px;
  margin-right: 6px;
  text-align: center;
  line-height: 24px;
  color: #373737;
}
.igv-file-load-widget-container .igv-file-load-widget-header div:hover {
  cursor: pointer;
}
.igv-file-load-widget-container .igv-flw-input-container {
  width: 95%;
  margin-top: 24px;
  margin-bottom: 0;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row {
  height: 36px;
  width: 100%;
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: calc(2 * 2px);
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-input-label {
  color: #6c757c;
  font-weight: 400;
  width: 136px;
  height: 36px;
  line-height: 36px;
  text-align: left;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row input {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 4px;
  color: #373737;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  outline: none;
  border-style: solid;
  border-width: thin;
  border-color: #dee2e6;
  border-radius: 0.25rem;
  background-color: white;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row input {
  height: calc(36px - 12px);
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: calc(36px - 8px);
  border-color: #6c757c;
  border-style: solid;
  border-width: thin;
  border-radius: calc(2 * 2px);
  background-color: white;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label {
  display: block;
  margin: unset;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label.igv-flw-label-color {
  color: #6c757c;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container label.igv-flw-label-color-hover {
  cursor: pointer;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container input.igv-flw-file-chooser-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-file-chooser-container:hover {
  cursor: pointer;
  background-color: #6c757c;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-drag-drop-target {
  cursor: default;
  margin-left: 8px;
  width: 120px;
  height: calc(36px - 8px);
  line-height: calc(36px - 8px);
  text-align: center;
  border-color: #7F7F7F;
  border-style: dashed;
  border-width: thin;
  border-radius: calc(2 * 2px);
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row .igv-flw-local-file-name-container {
  max-width: 400px;
  height: 36px;
  color: #373737;
  line-height: 36px;
  text-align: left;
  font-weight: 400;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.igv-file-load-widget-container .igv-flw-input-container .igv-flw-input-row-hover-state {
  background-color: #efefef;
  border-color: #7F7F7F;
}
.igv-file-load-widget-container .igv-flw-error-message-container {
  margin-top: 8px;
  width: 95%;
  height: 24px;
  padding-left: 8px;
  color: white;
  font-size: 0.875rem;
  background-color: rgba(59, 92, 127, 0.5);
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.igv-file-load-widget-container .igv-flw-error-message-container div:first-child.igv-flw-error-message {
  height: 24px;
  width: 600px;
  font-style: italic;
  line-height: 24px;
  text-align: left;
}
.igv-file-load-widget-container .igv-flw-error-message-container div:last-child {
  height: 24px;
  width: 16px;
  margin-right: 6px;
  text-align: center;
  line-height: 24px;
  color: #373737;
}
.igv-file-load-widget-container .igv-flw-error-message-container div:hover {
  cursor: pointer;
}
.igv-file-load-widget-container .igv-file-load-widget-ok-cancel {
  width: 100%;
  height: 28px;
  margin-top: 32px;
  color: white;
  font-size: 0.875rem;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.igv-file-load-widget-container .igv-file-load-widget-ok-cancel div {
  width: 75px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  margin-right: 16px;
}
.igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:first-child {
  margin-right: 22px;
  background-color: #c4c4c4;
}
.igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:first-child:hover {
  cursor: pointer;
  background-color: #7f7f7f;
}
.igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:last-child {
  background-color: #5ea4e0;
}
.igv-file-load-widget-container .igv-file-load-widget-ok-cancel div:last-child:hover {
  cursor: pointer;
  background-color: #3b5c7f;
}

.spacewalk-popover-about {
  max-width: 512px;
}
.spacewalk-popover-about .popover-body {
  font-size: 1rem;
}

.spacewalk-popover-help .popover-body {
  font-size: 1rem;
}

#spacewalk-info-menu-container {
  color: unset;
  width: max-content;
}

#spacewalk-root-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d0d0d0;
}

#spacewalk-threejs-container {
  position: absolute;
  top: 128px;
  left: 128px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#spacewalk-threejs-drag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: grab;
}
#spacewalk-threejs-drag-container i {
  color: #6e6e6e;
  display: block;
}

#spacewalk-threejs-trace-navigator-container {
  display: flex;
  width: calc(512px + 48px);
  height: 512px;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: black;
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: black;
  resize: both;
  overflow: auto;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-threejs-canvas-container {
  position: relative;
  height: 100%;
  width: calc(100% - 48px);
  background-color: #ffffff;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-threejs-canvas-container #spacewalk-threejs-canvas-center-dot {
  z-index: 512;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border-style: solid;
  border-width: thin;
  border-color: black;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container {
  display: flex;
  flex-direction: column;
  width: 48px;
  align-self: stretch;
  background-color: white;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: black;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-header {
  align-self: stretch;
  height: 32px;
  font-size: 0.85rem;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-widget {
  position: relative;
  cursor: pointer;
  width: 46px;
  height: 100%;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-widget canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-widget canvas#spacewalk_color_ramp_canvas_highlight {
  z-index: 128;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-widget canvas#spacewalk_color_ramp_canvas_rgb {
  z-index: inherit;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-widget canvas#spacewalk_color_ramp_canvas_alpha {
  z-index: -128;
}
#spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container #spacewalk-trace-navigator-footer {
  align-self: stretch;
  height: 32px;
  font-size: 0.85rem;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
}

.fullscreen #spacewalk-threejs-trace-navigator-container {
  width: 100vw;
  height: 100vh;
  border: none;
}
.fullscreen #spacewalk-threejs-trace-navigator-container #spacewalk-trace-navigator-container {
  height: 100vh;
}

.ui-widget-content {
  border: 0 solid;
  background: transparent;
  color: transparent;
}

.spacewalk-threejs-container-resizable-helper {
  border: 2px dotted #ffffff;
}

.ui-resizable-handle {
  z-index: 1024;
}

.spacewalk-spinner-container {
  z-index: 8000;
  pointer-events: none;
  position: absolute;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  background-color: transparent;
}

.modal {
  z-index: 99099;
}

.igv-root-div {
  padding: 0 !important;
  margin: 0 !important;
}

.igv-content-header {
  display: none !important;
}

.igv-track-div {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.igv-trackgear-container {
  width: 14px !important;
  height: 14px !important;
}

::selection {
  color: none;
  background: none;
}

/*# sourceMappingURL=app.css.map */
