
// igv panel
$trace3d_igv_panel_width: 600px;
$trace3d_igv_panel_heigth: 256px;

.igv-app-dropdown-item-cloud-storage {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 18px;

  margin-top: 4px;
  margin-bottom: 4px;

  div:first-child {
    margin-right: 4px;
  }

  div:last-child {
    margin-left: 4px;
  }

}

// igvjs panel
#trace3d_igv_panel.card {

  width: $trace3d_igv_panel_width;
  //height: $trace3d_igv_panel_heigth;
  height: auto;

  align-items: center;
  justify-content: flex-start;

  // igvjs container
  #trace3d_igv_container.card-body {

    height: $trace3d_igv_panel_heigth;
    //height: unset;
    overflow: auto;

    .trace3d_card_drag_container {

      width: 100%;
      height: $trace3d_card_drag_container_height;
      background-color: transparent;

      i.fa-grip-horizontal {
        color: $trace3d_steel;
        display: block;
      }

    }

    // url loader
    .form-group {
      width: 100%;
      //margin-top: 8px;
      //margin-bottom: 8px;
      padding: 6px;
    }

    // spinner
    .spinner-border {
      margin-left: 8px;
      margin-right: 8px;
      color: $trace3d_steel;
    }

    // track container
    #trace3d_igv_root_container {
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;

      overflow: auto;

      border-style: solid;
      border-width: thin;
      border-color: $trace3d_aluminum;

      background-color: $trace3d_snow;

    }
  }

}
