
// igv panel
$trace3d_igv_panel_width: 600px;
$trace3d_igv_panel_heigth: 256px;

.igv-app-dropdown-item-cloud-storage {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  height: 18px;

  margin-top: 4px;
  margin-bottom: 4px;

  div:first-child {
    margin-right: 4px;
  }

  div:last-child {
    margin-left: 4px;
  }

}

// igvjs panel
#trace3d_igv_panel.card {

  resize: both;
  overflow: scroll;

  width: $trace3d_igv_panel_width;
  height: auto;

  align-items: center;
  justify-content: flex-start;

  // igvjs container
  #trace3d_igv_container.card-body {

    height: $trace3d_igv_panel_heigth;
    overflow: auto;

    // track container
    #trace3d_igv_root_container {

      width: 100%;
      height: 100%;

      border-style: solid;
      border-width: thin;
      border-color: $trace3d_aluminum;

      background-color: $trace3d_snow;

    }
  }

}
